body,
html {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(250, 235, 215, 0.396);
}

* {
  margin: 0;
}

img {
  width: 100%;
}

.container {
  width: 60%;
  background-color: white;
}

button:hover,
.fa-circle-plus:hover,
.fa-circle-minus:hover,
.open-watchlist-btn:hover {
  cursor: pointer;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

#black {
  color: black;
}

.margin-bottom {
  margin-bottom: 0.7em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-image: url("images/THJJRUhNlEc.png");
  background-color: rgba(0, 0, 0, 0.861);
  height: 18vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  position: relative;
}

h1 {
  font-size: 2.8rem;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
}

/* search section */

.search-bar-section {
  display: flex;
  padding: 0.3em;
  column-gap: 0.4em;
  background-color: white;
  width: 80%;
}

.search-section {
  display: flex;
  border: 1px solid grey;
  border-radius: 6px;
  color: grey;
  position: absolute;
  bottom: -0.7em;
  width: 80%;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.search-bar {
  /* padding: 0em 6em 0em 0; */
  border: none;
  font-size: 1.2rem;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

.search-section button {
  border: none;
  border-left: 1px solid grey;
  /* padding: 0 1em; */
  font-size: 1.2rem;
  width: 20%;
}

.fa-magnifying-glass {
  align-self: center;
  font-size: 1.2rem;
}

/* end of search section */

.explore-section {
  color: grey;
  margin-top: 40%;
  font-weight: bold;
  text-align: center;
}

/* film description */

.film-description-section,
.film-info,
.film-title-section,
.rating-info,
.watchlist-add-section {
  display: flex;
  align-items: center;
}

.film-description-section {
  margin-top: 3em;
  padding: 0 2.3em;
}

.film-poster {
  width: 15%;
  object-fit: contain;
}

.film-title-section,
.film-description-section {
  column-gap: 0.8em;
  margin-bottom: 0.5em;
}

.rating-info,
.watchlist-add-section {
  column-gap: 0.2em;
}

.fa-star {
  color: gold;
}

.film-info {
  column-gap: 1.7em;
  margin-bottom: 2em;
}

.film-info p:not(:last-child),
.plot-section {
  color: #464242;
}
